.asidehorizontal {
    padding-bottom: 50px;
    display: block;
    margin: auto;
}


@media (min-width: 992px) {

    #aside3 {
        display: none;
    }

    #aside4 {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1229px) { 
    #aside3 {
        display: none;
    }

    #aside4 {
        display: none;
    }
}