.infofooter {
    font-size: small;
    text-align: center;
    list-style: none;
    margin: auto;
    margin-right: 28px;
}

.logo2 {
    border-top: solid $primary 25px;
    width: 240px;
    height: 120px;
    display: block;
    margin: auto;
}

