.logo {
    width: 220px;
    height: 90px;
    grid-column: 1 / 2;
}



.estiloletra {
    color: black;
    list-style-type: none;
    text-decoration: none;
    padding-left: 30px;
  
    &:hover {
      color: black;
      -webkit-text-decoration: solid overline;
      text-decoration: solid overline;
    }
  }

@media (max-width: 351px) {
    .logo {
        width: 150px;
        height: 80px;
        grid-column: 1 / 2;
    }
}

@media (max-width: 991px) {
    .estiloletra:hover {
        color: $secundary;
        text-decoration: underline;
    }
}